<!--
Author: Darren Daly
Version: 1.0
-->
<h1>Index page</h1>
<ul>
	<li><a href="/actors/index">Actors</a></li>
	<li><a href="/addresses/index">Addresses</a></li>
	<li><a href="/categories/index">Categories</a></li>
	<li><a href="/cities/index">Cities</a></li>
	<li><a href="/countries/index">Countries</a></li>
	<li><a href="/customers/index">Customers</a></li>
	<li><a href="/films/index">Films</a></li>
	<li><a href="/filmtexts/index">Film Texts</a></li>
	<li><a href="/inventories/index">Inventories</a></li>
	<li><a href="/languages/index">Languages</a></li>
	<li><a href="/payments/index">Payments</a></li>
	<li><a href="/rentals/index">Rentals</a></li>
	<li><a href="/staffs/index">Staff</a></li>
	<li><a href="/stores/index">Stores</a></li>
</ul>
